
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');

    ::-webkit-input-placeholder {
        color: #111127;
    }
    
    :-ms-input-placeholder {
        color: #111127;
    }
    
    ::-ms-input-placeholder {
        color: #111127;
    }
    
    ::placeholder {
        color: #111127;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html, body {
        width: 100%;
        overflow-x: hidden;
        font-family: 'Poppins';
        background-color: black;
    }
    @media (max-width: 768px) {
        html, body {
            overflow-x: hidden;
        }
    }

    /*------------Header Section--------------------*/
    header {
        width: 100%;
        margin: auto;
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav h3 {
        font-weight: 500;
        font-size: x-large;
        color: white;
        letter-spacing: 3px;
    }
    nav ul li {
        flex: 1;
        list-style: none;
        text-decoration: none;
        display: inline-block;
        position: relative;
        padding-left: 20px;
    }
    nav a {
        text-decoration: none;
        color: rgb(173, 173, 173);
        font-weight: 400;
        font-size: 14px;
    }  
    nav ul li::after {
        content: "";
        display: block;
        height: 2px;
        margin: auto;
        background: white;
        width: 0%;
        transition: 0.5s;
    }
    nav ul li:hover::after {
        width: 100%;
    }
    nav ul li:hover a {
        color: white;
    }
    .nav_action {
        justify-content: space-evenly;
    }
    .nav_action i {
        margin-left: 20px;
        font-size: 20px;
        transition: 0.5s;
        color: rgb(173, 173, 173);
    }
    .nav_action i:hover {
        color: white;
    }
    .carousel {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
    }

    .card-container {
        width: 100%;
        display: flex;
        margin: 8px;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        gap: 16px;
        padding: 0 50px;
        scroll-padding-left: 10%;
    }

    .card-container::-webkit-scrollbar {
        display: none;
    }

    .card {
        min-width: 70%;
        height: 500px;
        scroll-snap-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #17BF60;
        color: #4a544c;
        overflow: hidden;
        position: relative;
        transition: transform 0.5s ease-in-out, z-index 0s linear 0.5s;
        cursor: pointer;
    }
    .card img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        transition: 0.5s;
    }

    .card:hover img{
        transform: scale(1.2);
    }

    .card .layer {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .card:hover .layer {
        opacity: 1;
    }

    .layer h3 {
        font-weight: 500;
        color: #fff;
        font-size: 26px;
        text-align: center;
        transform: translateY(20px);
        transition: transform 0.5s, opacity 0.5s;
        opacity: 0;
    }

    .card:hover .layer h3 {
        transform: translateY(0);
        opacity: 1;
    }





/*----------------------Media Queries for the header section------------------*/

/*-----------------------mobile view----------------*/
@media(max-width:900px){
  header{
      padding: 20px 25px 20px 25px;
      width: 100%;
     }
   .nav_links ul li {
       display: block;
   }

   .nav_links {
       position: fixed;
       background-color: black;
       box-shadow: -2px 0 12px hsla(0, 0%, 0%, .2);
       height: 100vh;
       width: 200px;
       top: 0;
       right: -300px;
       text-align: left;
       z-index: 2;
       transition: 0.5s;
       padding: 30px;
   }   
  
   .nav_action i{
       margin-left: 7px;
       font-size: 21px;
       transition: 0.5s;
       color: rgb(173, 173, 173);
   }
   
}
@media (max-width: 768px) {
  header{
     padding: 20px 25px 20px 25px;
     width: 100%;
    }
  .nav_links ul li {
      display: block;
  }
  .nav_links {
      position: fixed;
      background-color: black;
      box-shadow: -2px 0 12px hsla(0, 0%, 0%, .2);
      height: 100vh;
      width: 200px;
      top: 0;
      right: -300px;
      text-align: left;
      z-index: 2;
      transition: 0.5s;
      padding: 30px;
  }   
  nav i{
      display:contents;
      font-size: 30px;
      color: rgb(173, 173, 173);
  }

  .nav_action i{
      padding: 7px;
      font-size: 19px;
      transition: 0.5s;
      color: rgb(173, 173, 173);
  }
  
.carousel{
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 10px;
}

.card-container{
  width: 100%;
  display: flex;
  margin: 8px;
  overflow-x: auto;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  padding: 0 50px;
  scroll-padding-left: 10%;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card {
  min-width: 95%;
  height: 350px;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17BF60;
  color: #4a544c;
  overflow: hidden;
  position: relative;
}
.card img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

}